%p
  = "#{I18n.t('devise.views.mailer.password.welcome')} #{@resource.email}!"
%p
  = I18n.t('devise.views.mailer.password.text')
%p= link_to I18n.t('devise.views.mailer.password.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  = I18n.t('devise.views.mailer.password.text2')
%p
  = I18n.t('devise.views.mailer.password.text3')

